.navbar-nav {
  position: relative;
  justify-content: space-between;
  width: 100%;
}

ul#nav_hover_item {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: rgb(180, 160, 180);
  transition: 0.3s ease-in-out;
  width: max-content;
  gap: 0 !important;
  padding: 10px;
  border-radius: 10px;
}

li.nav-item:hover ul#nav_hover_item {
  visibility: visible;
  opacity: 1;
}

#login_btn {
  background-color: #80798D;
  color: #F8DEFC;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
}

.start_up {
  background-color: #E1E6F2;
  padding: 25px;
}

.start_up p {
  font-size: 24px;
}

.uber h2 {
  color: #635965;
  font-size: 25px;
}

.uber p {

  font-size: 24px;
}

.funktioniert {
  background-color: #E1E6F2;
  padding: 50px;
}

.funktioniert h2 {
  background-color: #8734B2;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 5px;
  color: white;
  margin: auto;
  margin-bottom: 20px;
}

.funktioniert p {
  font-size: 24px;
}