@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
 

.cursor_pointer {
  cursor: pointer !important;
}

.sec_gap {
  margin-bottom: 80px;
}

.navbar {
  background-color: #E8ECF5;
  border-bottom: 1px solid black;
  font-family: 'Cormorant Garamond', serif !important;

}

.navbar-nav {
  position: relative;
  justify-content: center;
  width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #33312F;
  font-size: 24px;
}

ul#nav_hover_item {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: rgb(180, 160, 180);
  transition: 0.3s ease-in-out;
  width: max-content;
  gap: 0 !important;
  padding: 10px;
  border-radius: 10px;
}
#nav_hover_item a:hover{
opacity: 0.5;
}

li.nav-item:hover ul#nav_hover_item {
  visibility: visible;
  opacity: 1;
}

.css-13cymwt-control {
  width: 150px !important;
}

#login_btn {
  background-color: #80798D;
  color: #F8DEFC;
  border: none;
  border-radius: 6px;
  padding: 10px 25px;
  font-weight: bold;
  font-size: 22px;
  transition: 0.3s ease-in-out;
}
#login_btn:hover {
  background-color: #a59eb6;
  
}

.banner {
  /* background-image: url('https://static.wixstatic.com/media/39f107_f8dc82da7a4c44bb98e95057c4e59d7e~mv2_d_1920_1280_s_2.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
  height: 700px;
  font-family: 'Cormorant Garamond', serif !important;
  background-position: center;

}
.banner p{
  font-size: 20px;
}
.banner .care_form {
  background-color: white;
  padding: 25px 50px;
  border-radius: 6px;
  text-align: center;
  border: 1px solid black;
}

.banner .care_form h6 {
  font-size: 25px;
  color: #816665;
}

.banner .care_form .active {
  position: relative;

}

.banner .care_form .active::after {
  position: absolute;
  content: '';
  height: 3px;
  width: 90%;
  background-color: #56515E;
  left: 50%;
  transform: translateX(-50%);
  bottom: 12px;
}

.banner .care_form input {
  border: 2px solid #919191;
}

.banner a {
  color: black;
}

.start_up {
  background-color: #E1E6F2;
  padding: 25px;
}

.start_up p {
  font-size: 24px;
}

.about a {
  color: black;
}

.about h2 {
  color: #635965;
  font-size: 25px;
}

.about p {
  font-size: 24px;
}

.about img {
  -webkit-filter: grayscale(100%) !important;
  filter: grayscale(100%) !important;
  object-fit: contain;

}


.how_works {
  background-color: #E1E6F2;
  padding: 50px;
}

.how_works h2 {
  background-color: #8734B2;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 5px;
  color: white;
  margin: auto;
  margin-bottom: 20px;
}

.how_works p {
  font-size: 24px;
}

.register .option {
  position: relative;
  color: #322C32;
  font-family: 'Cormorant Garamond', serif !important;
  font: bold;
}

.register .option::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #958597;
  bottom: 0;
}

.footer {
  background-color: #B4B8C2;
}

.footer a {
  text-decoration: none;
  color: #323232;
}